.LoginMain {
    display: flex;
    margin: 200px 0;
}

.LoginWindow {
    display: flex;
    border: solid 1px blueviolet;
    border-radius: 20px;
    box-shadow: 12px 12px 2px 1px #b0b1b7;
    margin: 0 auto;
    padding: 50px;
    flex-flow: column;
    
}

.LoginForm {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.LoginForm input {
    margin: 5px;
}
.LoginForm select {
    margin: 5px auto;
    font-size: small;
    padding-block: initial;
}

.LoginForm label {
    color: red;
}

.ConnectRegister {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.ConnectRegister a {
    grid-row: 2;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.ConnectRegister input {
    grid-row: 2;
    align-items: center;
}

.CenterItemContainer {
    display: flex;
    margin: 0 auto;
    align-items: center;
}